<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	
	<!-- 相册访问权限 -->
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>山海诗馆需要访问您的相册以保存诗歌图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>山海诗馆需要访问您的相册以保存诗歌图片</string>
	
	<!-- 允许查询微信等应用 -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
	</array>
</dict>
</plist>
