<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>保存您创作的诗歌图片到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>访问您的相册以保存诗歌图片</string>
</dict>
</plist>

